body {
  font-family: "TikTok Sans", sans-serif !important;
}

nav {
  background-color: #2682c0;
  border: solid 1px;
}

/*.a-nav {
  padding-right: 500px;
}

.ul-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  text-align: right;
  font-size: 20px;
}*/

main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 7px 35px;
  font-size: 18px;
  border-radius: 3px;
  border: 2px solid #ccc;
}

input::placeholder {
  color: #aaa;
}

.button-login {
  margin: 15px;
  padding: 12px 102px;
  background-color: #2682c0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}

.pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.creditos {
  width: 60%;
  background-color: #2682c0;
  color: white;
  padding: 20px;
  border: 2px solid #8ab3d6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  font-size: 30px;
}

.circulo-creditos {
  width: 55px;
  height: 55px;
  border: 2px solid #8ab3d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.clases-form {
  width: 40%;
  border: 2px solid #97a8b5;
  background-color: #d5dfe7;
  border-radius: 5px;
  margin: 20px auto;
}

.fila-clases {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 12px 15px;
  border-bottom: 1px solid #97a8b5;
  align-items: center;
}

.fila-clases span {
  font-size: 16px;
}

.fila-clases select {
  justify-self: end;
  width: 300px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-inscribirse {
  margin: 15px;
  padding: 12px 102px;
  background-color: #2682c0;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}

.section-imgperfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  background-color: #d0d7df;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0 auto;
}

.button-cambiarimg {
  margin-top: 10px;
  background-color: #2682c0;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.formperfil {
  background: #cfd7e0;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
}

.fila-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aab3bd;
  padding: 12px 10px;
}

.fila-perfil label {
  width: 40%;
  font-size: 14px;
  color: #333;
}

.fila-perfil input {
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  font-size: 14px;
}

.footmgb {
  width: 99%;
  text-align: center;
  padding: 20px 0;
  background-color: #2682c0;
  color: #fff;
  position: fixed;
  bottom: 0;
  border: solid 1px black;
}
