@use "../utilities/variables" as *;

.footmgb {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  background-color: #2682c0;
  color: #fff;
  border-top: 1px solid black;
  margin-top: auto;
}
