main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  a {
    color: black;
    text-decoration: none;
  }
}

.pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
