@use "../utilities/variables" as *;

.section-imgperfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  background-color: $third-color;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0 auto;
}
