.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
