@use "../utilities/variables" as *;

.sec-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.info-contacto h3 {
  margin-bottom: 10px;
}

.info-contacto p {
  margin: 0;
}

.redes a {
  font-size: 28px;
  color: $primary-color;
}
