@use "../utilities/variables" as *;

.button-msj {
  margin: 15px;
  padding: 12px;
  background-color: $primary-color;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
}
