@use "../utilities/variables" as *;

.formperfil {
  background: $second-color;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
}

.fila-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $second-color;
  padding: 12px 10px;
}

.fila-perfil label {
  width: 40%;
  font-size: 14px;
  color: #333;
}

.fila-perfil input {
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $third-color;
  font-size: 14px;
}
